@page "/"
@using Essayin.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Essayin.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<EssayinUser> UserManager
@using Essayin.Pages.SharedComponents
@inject QuizService Service

<AuthorizeView>
    <NotAuthorized>
        <div class="jumbotron">
            <h1 class="display-4">Essayin</h1>
            <p class="lead">Your friendly platform for essay quiz</p>
            <hr class="my-4">

            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Identity/Account/Register" role="button">Daftar</a>
                <a class="btn btn-primary btn-lg" href="Identity/Account/Login" role="button">Masuk</a>
            </p>
        </div>
    </NotAuthorized>
    <Authorized>
        
        <UserInfo Name="@FullName" Email="@Email" Role="@Roles"/>

        @if (Roles.Equals("Guru"))
        {
            <SoalGuruList QuizList="@Quizzes"></SoalGuruList>
        }
        else if (Roles.Equals("Siswa"))
        {
            <SiswaResultList SiswaResults="@Results"/>
        }

    </Authorized> 
</AuthorizeView>

@code{
    string Roles = "";
    string FirstName = "";
    string FullName = "";
    string Email = "";
    List<Essayin.Data.Quiz> Quizzes = new List<Essayin.Data.Quiz>();
    List<Essayin.Data.SiswaResult> Results = new List<Essayin.Data.SiswaResult>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var userinfo = await UserManager.GetUserAsync(user);
            Roles = userinfo.Role;
            FirstName = userinfo.FirstName;
            FullName = userinfo.FirstName+" "+userinfo.LastName;
            Email = userinfo.Email;
            try
            {
                if (Roles.Equals("Guru"))
                Quizzes = Service.GetQuizListFromGuru(Email);
            else if (Roles.Equals("Siswa"))
                Results = Service.GetSiswaResults(Email);
            }
            catch (Exception)
            {

            }
            
        }

    }
}